<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[Title goes here]</title>
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/app.css">
  </head>

  <body id="login">

    <section id="logo">
      <img src="static/img/logo-icon.png" />
    </section>

    <section id="todoapp">            
      <section id="main">
        <ul id="todo-list">
          <li>
            <div class="view">
              <input class="plain" id="studentno" placeholder="Student number">
            </div>
          </li>
          <li>
            <div class="view">
              <input class="plain" id="password" type="password" placeholder="Password">
            </div>
          </li>
        </ul>
      </section>

      <footer id="footer">                        
        <button id="login-button">Log in</button>
      </footer>

    </section>

    <footer id="info">
      <p>Log in or register to begin.</p>
      <p>CSC2001F Assignment 7</p>
    </footer>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/md5.js"></script>
    <script src="static/js/app.js"></script>

    <script>

      /* We have to wait until the document is ready before executing javascript */
      $(document).ready(function() {
 
        /** 
         * Process to log in and authenticate a user
         * Event which fires when the Log In button is pressed
         **/
        $('#login-button').click(function(e) {

          // Gather the user credentials
          var user = $('#studentno').val();

          // Prevent the button from attempting to submit anything
          e.preventDefault();

          /**
           * Initiate the entire authentication process.
           * This entire process uses 'promises' to maintain an asynchronous process.
           * It's a myriad of callback functions flowing through .done and .fail callbacks...
           **/

          // ...First we submit the student number to the server and get the stored salt and temp_salt...
          post_json('get_salt', {'studentno': user} )
            .done( function(result) {
              // if we didn't even get a salt
              if (!('salt' in result)) {
                  console.log("didn't receive a salt");
                  return;
              }

              // ... then we process the salts with the password and send that for authentication...
              process_salts( result)

                .done( function(result) {
                  // .. then we handle the authentication result (true/false)
                  handle_authentication_status(result);
                })

                // handle any errors in submitting the salt hash.
                .fail( function(result) {
                  console.log('Error posting salted hash.');
                })
            })

            // handle any errors in submitting the student number
            .fail(function() {
              console.log('Error posting studentno.');
            });

        });

      });

      /**
       * Function to perform a generic $.ajax POST request to the flask server
       * It always sends and receives json data.
       * @param url, the trailing url string for the route, ignore http://localhost:port
       * @param data, the json data object to be posted
       * @param proceed, the callback function which will be called when the server responds the post
       **/
      var post_json = function(url, json_data) {
        console.log(url);
        console.log(json_data);
        return $.ajax({
                  type: 'POST',
                  url: window.domain + url,
                  data: JSON.stringify( json_data ),
                  contentType:"application/json; charset=utf-8",
                  dataType: 'json'
                });
      };      

      /**
       * Function used to process the salts which is returned by the server,
       * It generates the final hash string which is used for authentication
       * @param data, the json object with the salt and temp_salt strings
       **/
      var process_salts = function(json_data) {
        var studentno = json_data.studentno,
            salt = json_data.salt,
            pass = $('#password').val(),
            temp_salt = json_data.temp_salt,
            md5 = CryptoJS.MD5;

        // Hash the password, salt and temp salt to form the final hash string
        console.log('what is pass? '+pass);
        var db_hash = md5( md5(pass).toString() + salt ).toString();
        var temp_salt = md5(temp_salt).toString();
        var hashed_string =  md5(db_hash  +  temp_salt).toString();
        console.log('db hash '+db_hash);
        console.log('temp salt hash '+temp_salt);
        console.log('resultant hash '+hashed_string);

        // Send the hashed string back to the server along with the username, final authentication step
        return post_json('login', {'studentno': studentno, 'hash': hashed_string});

      };

      /**
       * Function which handles what happens when we get our authentication status back
       * @param data, the {authentication: true/false} json object
       **/
      var handle_authentication_status = function(data) {
        // until further notice we just log the result to the console
        console.log(data);
      }

    </script>

    
  </body>
</html>
