<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[Title goes here]</title>
    <link rel="stylesheet" href="static/css/base.css">
  </head>

  <body id="login">

    <section id="logo">
      <img src="static/img/logo-icon.png" />
    </section>

    <section id="todoapp">            
      <section id="main">
        <ul id="todo-list">
          <li>
            <div class="view">
              <input class="plain" id="studentno" placeholder="Student number">
            </div>
          </li>
          <li>
            <div class="view">
              <input class="plain" id="password" type="password" placeholder="Password">
            </div>
          </li>
        </ul>
      </section>

      <footer id="footer">                        
        <button id="register-button">Register</button>
        <button id="login-button">Log in</button>
      </footer>

    </section>

    <footer id="info">
      <p>Log in or register to begin.</p>
      <p>CSC2001F Assignment 7</p>
    </footer>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/md5.js"></script>

    <script>
    
      $(document).ready(function() {
 
        /* When the user clicks the login button we need to has
           the password and send it to the server for verification */
        $('#login-button').click(function(e) {

          var user = $('#studentno').val(),
              pass = $('#password').val(),
              pass_hash = CryptoJS.MD5(pass).toString();

          e.preventDefault();

          $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/get_salt',
            data: JSON.stringify( {studentno: user} ),
            contentType:"application/json; charset=utf-8",
            dataType: 'json',
            success: function(data) {
              
              var salt = data.salt;
                  temp_salt = data.temp_salt,
                  md5 = CryptoJS.MD5;

              // Given the user's salt, 
              // Hash the password, salt and temp salt 
              var hashed_string =  md5( ( md5(pass).toString() + salt ).toString() + md5(temp_salt).toString() ).toString();
              console.log(hashed_string);

              // Send the hashed string back to the server along with the username
              $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/login',
                data: JSON.stringify( {studentno: user, hash: hashed_string} ),
                contentType:"application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                  console.log(data.authenticated);
                }
              });

            }

          });

        });
      });

    </script>

    
  </body>
</html>
