<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>[Title goes here]</title>
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/app.css">
  </head>

  <body id="login">

    <section id="logo">
      <img src="static/img/logo-icon.png" />
    </section>

    <section id="todoapp">            
      <section id="main">
        <ul id="todo-list">
          <li>
            <div class="view">
              <a href="answerQuestions.html">Answer a Question</a>
              <a href="questionsRate">Rate a Question</a>
              <a href="checkStudentAnswers.html">Check Student Answers</a>
              <a href="checkStudentQuestions.html">Check Student Questions</a>
              <a href="#">Generate Classlist</a>
              <a href="#">Make a Test</a>
            </div>
          </li>
        </ul>
      </section>

      <footer id="footer">                        
      </footer>

    </section>

    <footer id="info">
      <p>Welcome.</p>
      <p>CSC2001F Assignment 7</p>
    </footer>

  </body>
</html>
